.home {
    height: 77vh; /* von 94 */
    display: flex;
    justify-content: center;
    align-items: center;

    .hero_content_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 800px) {
            flex-wrap: wrap;
            gap: 8rem;
            justify-content: center;
        }

        .home_linke_seite {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;

            .hero_home_box {
                position: relative;

                .can_pixel_container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    justify-content: center;
                    background-color: rgba(222, 222, 222, 0.61);
                    width: 100%;
                    max-width: 49rem;
                    height: 20rem;
                    padding: 2rem;

                    .can_pixel {
                        font-size: 8rem;
                        letter-spacing: 0.37em;
                        color: black;
                        line-height: 0.6;
                        font-family: "Micro 5";
                        text-transform: uppercase;
                    }
                }

                .gameboy_icon {
                    position: absolute;
                    top: 2.4rem;
                    left: 31.5rem;
                }
            }

            .hero_spruch_1_UQC {
                text-align: center;
                color: #284cff;
                text-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
                font-family: "Advent Pro";
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.54rem;

                .strong {
                    font-style: italic;
                    font-weight: 500;
                }
            }
        }

        .navbar {
            max-width: 380px;
            width: 100%;

            .nav_buttons {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                li {
                    width: 100%;

                    & .link {
                        border: 1px solid black;
                        display: block;
                        padding: 1.5rem 2rem;
                        text-align: center;
                        font-size: 2rem;
                        color: black;

                        transition: all 0.5s ease-in-out;
                        font-size: 1.7rem;
                        font-weight: 500;

                        li:nth-child(1) &:hover {
                            background-color: rgba(31, 40, 226, 0.5);
                        }

                        li:nth-child(2) &:hover {
                            background-color: rgba(192, 32, 32, 0.5);
                        }

                        li:nth-child(3) &:hover {
                            background-color: #284cff;
                        }

                        li:nth-child(4) &:hover {
                            background-color: chartreuse;
                        }

                        li:nth-child(5) &:hover {
                            background-color: #cdc7e5;
                        }

                        &:hover {
                            color: #f8f8f8;
                        }
                    }
                }
            }
        }
    }
}
