.kontakt_footer {
    margin-top: 10rem;
    background-color: rgba(156, 157, 159, 0.343);

    .footer_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .linker_footer_berreich {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            font-size: 1.7rem;

            .links_text_1 {
                text-align: center;

                .kp {
                    font-size: 2.4rem;
                    letter-spacing: 0.1rem;
                }

                .dk {
                    color: black;
                    font-size: 1.7rem;
                }

                .dato {
                    opacity: 0.4;
                    color: #3bf;
                    font-family: Inter;
                    font-size: 1.7rem;
                    font-style: normal;
                    font-weight: 400;
                }

                .avl {
                    font-size: 2.3rem;
                    letter-spacing: 0rem;
                }
            }

            .links_text_2 {
                text-align: center;
                font-size: 2rem;
                letter-spacing: 0.8rem;
                opacity: 0.8;
                font-weight: 200;
            }
        }
        .rechter_footer_berreich {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .email {
                font-size: 3.2rem;
                letter-spacing: 0.3rem;
                color: black;
                text-decoration: underline;
            }

            .social_icons {
                display: flex;
                gap: 2.5rem;

                img {
                    width: 3rem;
                    height: 3rem;

                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }

    .footer_copyright {
        text-align: center;
        margin-bottom: 2rem;
    }
}
