.uebermich {
    display: flex;

    .uebermich_oberer_berreich {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12rem;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 4rem;
        }

        .about_text_box {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        .begrüßungstag {
            font-size: 3rem;
        }

        .about_text {
            font-size: clamp(1.2rem, 2vw, 2.5rem);
            line-height: 1.5;
            font-weight: 400;

            @media screen and (max-width: 800px) {
                font-weight: 500;
            }
        }

        .avatar_icon {
            height: 40rem;
        }
    }
}

 
/* 
@media screen and (max-width: 950px) {
    .uebermich {
        .container_hero_about {
            .uebermich_oberer_berreich {
                flex-direction: column-reverse;
                align-items: center;

                .about_text_box {
                    max-width: 90%;
                }
            }
        }

        .begrüßungstag {
            margin-bottom: 1.3rem;
            margin-top: -1.5rem;
        }

        .about_text_oben_1 {
            display: flex;
            margin-bottom: 0.5rem;
            font-size: 1.9rem;
            line-height: 1.4;
            font-weight: 500;
        }

        .about_text_oben_2 {
            display: flex;
            margin-bottom: 0.5rem;
            font-size: 1.9rem;
            line-height: 1.4;
            font-weight: 500;
        }

        .avatar_icon {
            flex-direction: column-reverse;
            align-items: center;
            height: 35rem;
        }
    }
} */
 