/*Font art*/
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Micro+5&display=swap");

/* CSS Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* -- HOMESEITE + NABVBAR  -- */
html {
    font-family: "Inter", sans-serif;
}

.wrapper {
    margin: 0 250px;

    .logo {
        width: 8rem;
        height: 8rem;
        flex-shrink: 0;
        border-radius: 4.25rem;
        padding: 15px;
    }
}

.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container_hero_content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .home_linke_seite {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hero_home_box {
                position: relative;
                background-color: rgba(222, 222, 222, 0.61);
                padding: 80px;
                margin-bottom: 40px; /* Abstand hero spruch */
                display: flex;
                justify-content: center;
                align-items: center;
                /* max-width: 430px; */
                /* max-height: 250px; */
                /* box-sizing: border-box; */

                .can_pixel_container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* gap: 45px; */

                    .can_pixel {
                        font-size: 80px;
                        letter-spacing: 0.37em;
                        color: black;
                        line-height: 0.6; /* Abstand zwischen C-S */
                        font-family: "Micro 5";
                    }
                }

                .gameboy_icon {
                    position: absolute;
                    left: 435px;
                    height: 120px;
                }
            }

            .hero_spruch_1_UQC {
                color: #284cff;
                text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                font-family: "Advent Pro";
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.54rem;

                .Q {
                    font-style: italic;
                    font-weight: 500;
                    margin-right: 20px;
                }
            }
        }
        .nav_home_button {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;

            .link {
                border: 1px solid black;
                width: 350px;
                display: block;
                padding: 18px;
                text-align: center;
                color: black;
                text-decoration: none;
                transition: all 0.3s ease;
            }
            li:nth-child(1) .link:hover {
                background-color: rgba(31, 40, 226, 0.5);
                color: #f8f8f8;
            }
            li:nth-child(2) .link:hover {
                background-color: rgba(192, 32, 32, 0.5);
                color: #f8f8f8;
            }
            li:nth-child(3) .link:hover {
                background-color: #284cff;
                color: #f8f8f8;
            }
            li:nth-child(4) .link:hover {
                background-color: chartreuse;
                color: #f8f8f8;
            }
            li:nth-child(5) .link:hover {
                background-color: #cdc7e5;
                color: #f8f8f8;
            }
        }
    }
}

.übermich {
    display: flex;
    margin-top: 50px;

    .container_hero_about {
        align-items: center;
        


        .übermich_oberer_berreich {
            display: flex;
            justify-content: space-between;

            .about_text_box {
                max-width: 70%;
            }


            .begrüßungstag {


            }

            .avatar_icon {


            }
        }

        .übermich_unterrer_berreich {
                
            p {
                font-weight: 400;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                letter-spacing: 0.35rem;

                .fb_style {
                    color: #284cff;
                    font-weight: bold;
                    ;
                    
                    
                    
                }
            }
        }
    }
}