.uebermich {
    display: flex;

    .uebermich_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12rem;

        @media screen and (max-width: 800px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 4rem;
        }

        .about_text_box {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        .begrüßungstag {
            font-size: 3rem;
        }

        .about_text {
            font-size: clamp(1.2rem, 2vw, 2.5rem);
            line-height: 1.5;
            font-weight: 400;

            @media screen and (max-width: 800px) {
                font-weight: 600;
            }
        }

        .avatar_icon {
            height: 40rem;
            margin-top: 7rem;
        }
    }
}
